<tr>
  <td><%= link_to t('Facebook Connect'), admin_facebook_connect_path %></td>
  <td>Set up <a href="http://developers.facebook.com/connect.php" target="_blank">Facebook Connect</a> parameters</td>
</tr>
